
    <form id="create_update_event" method="post" action="/event">
      <!-- action and method depend on C vs U-->
      <input type="hidden" name="event_id" id="event_id" value="0">
      <!-- server sets event_id value-->

      <div class="container">
        <div class="card grey lighten-4">
          <div class="card-content">

            <span class="card-title">
              <h1>{{title}}</h1>
            </span>


            <div class="row">
              <div class="input-field col s12">
                <input type="text" id="event_name" class="validate" data-length="32" required>
                <label for="event_name">Event Name</label>
              </div>
            </div>

            <!-- https://materializecss.com/select.html -->
            <div class="row">
              <div class="input-field col s6">
                <select id="event_type" name="event_type" required>
                  <option value="" disabled selected>Select a type</option>
                  <option value="Main">Main</option>
                  <option value="Workshop">Workshop</option>
                  <option value="Food">Food</option>
                  <option value="Talk">Talk</option>
                  <option value="Activity">Activity</option>
                </select>
                <label for="event_type">Event Type</label>
              </div>

              <div class="input-field col s6">
                <select id="event_location" name="event_location" required>
                  <option value="" disabled selected>Select a location</option>
                  <option value="Gym">Gym</option>
                  <option value="Auditorium">Auditorium</option>
                  <option value="Lower Cafe">Lower Cafe</option>
                  <option value="Commons">Commons</option>
                  <option value="Room 136">Room 136</option>
                  <option value="Room 138A">Room 138A</option>
                  <option value="Room 138B">Roomb 138B</option>
                </select>
                <label for="event_location">Location</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s4">
                <input type="text" id=event_date name="event_date" class="datepicker no-autoinit" required>
                <label for="event_date">Date</label>
              </div>

              <div class="input-field col s4">
                <input type="text" id="event_time" name="event_time" class="timepicker no-autoinit" twelveHour=true
                  required>
                <label for="event_time">Time</label>
              </div>

              <div class="input-field col s4">
                <input type="number" id="event_duration" name="event_duration" min=0 step=15>
                <label for="event_duration">Duration (minutes)</label>

              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <textarea id="event_description" class="materialize-textarea" data-length="500"></textarea>
                <label for="event_description">Description</label>
              </div>
            </div>

            <div class="button_wrapper">
              <button class="submit waves-effect waves-light btn" type="submit">Create</button>
            </div>
          </div>
        </div>

      </div>
    </form>

<!-- Special initialization script for initializing .datepicker and.timepicker with options -->
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.datepicker');
      var instances = M.Datepicker.init(elems, {
        format: 'mm-dd-yyyy',
        autoClose: true
      });
    });

    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.timepicker');
      var instances = M.Timepicker.init(elems, {
        defaultTime: 'now', // Set default time: 'now', '1:30AM', '16:30'
        twelveHour: true, // Use AM/PM or 24-hour format
        autoClose: false, // automatic close timepicker
      });
    });

    //TODO Form Validation


    {{#if event}}
      {{#with event}}
          document.addEventListener('DOMContentLoaded', function() {

            {{!-- Use triple mustaches to NOT escape characters --}}

            document.getElementById("event_name").value = "{{{event_name}}}";
            document.getElementById("event_type").value = "{{{event_type}}}";
            document.getElementById("event_location").value = "{{{event_location}}}";
            document.getElementById("event_date").value = "{{{event_date}}}";
            document.getElementById("event_time").value = "{{{event_time}}}";
            document.getElementById("event_duration").value = "{{{event_duration}}}";
            document.getElementById("event_description").value = "{{{event_description}}}";
            
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems, {});
        });

      {{/with}}

    {{/if}}
  </script>
